:root {
  --bottom-color: #6c63ff;
  --text-font-family: "Inter", sans-serif;
  --bottom-font-family: "Poppins", sans-serif;
  --bottom-text-color: white;
  --banner-background-color: #ececf3;
}

body {
  max-width: 100%;
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--text-font-family);
  color: #272142;
}

.header {
  background-color: var(--banner-background-color);
  text-align: center;
  padding: 108px 329px 176px 300px;
}

.header h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.8;
}

.header p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 18px;
  text-align: center;
}

.header h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  margin: 100px 0 127px;
}

h4 {
  font-size: 43px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.btn-branding {
  background-color: var(--bottom-color);
  font-size: 18px;
  color: var(--bottom-text-color);
  font-family: var(--bottom-font-family);
  border-radius: 4px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.btn-branding-outline {
  font-size: 18px;
  color: var(--bottom-color);
  font-family: var(--bottom-font-family);
  text-decoration: none;
  line-height: 27px;
  border: 1px solid var(--bottom-color);
  padding: 12px 20px;
  border-radius: 4px;
}

.project-description {
  padding: 120px 60px;
  font-size: 65px;
}

/*About me */

.img-text {
  line-height: 108px;
  font-size: 80px;
  text-align: center;
  font-family: var(--text-font-family);
  position: relative;
  left: -300px;
  bottom: -250px;
}

mark {
  background-color: #94b5b3;
}

.card-title {
  font-size: 45px;
  font-family: var(--text-font-family);
  font-weight: bold;
}

.card-text {
  font-size: 20px;
  font-family: var(--text-font-family);
  font-weight: normal;
}

.aboutpage-img {
  display: block;
  margin-left: 60px;
  margin-right: 60px;
}

.aboutpage-para {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 28px;
}

/*project*/
.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--text-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--text-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

/*Contact me*/
.contact {
  color: red;
}

/*Header*/
nav {
  padding: 20pxd 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transform: all 100ns ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--bottom-color);
}

footer .contact-box {
  background-color: var(--banner-background-color);
  padding: 30px 120px;
  border-radius: 20px;
}

footer .contact-box p {
  margin: 0;
}

footer i {
  color: var(--bottom-color);
  font-size: 25px;
  background-color: var(--banner-background-color);
  padding: 10px 14px;
  margin: 0 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer i:hover {
  color: white;
  background-color: var(--bottom-color);
}

@media (max-width: 900px) {
  body {
    max-width: 100%;
    display: block;
    margin-bottom: 300px;
  }

  .project-description {
    padding: 20px;
    text-align: center;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 15px;
    margin: 50px;
  }

  h4 {
    font-size: 18px;
  }

  .header h1 {
    font-size: 43px;
    text-align: left;
    white-space: nowrap;
    position: relative;
    left: -78px;
  }

  .header h2 {
    font-size: 16px;
    white-space: nowrap;
    position: relative;
    left: -60px;
  }

  .header p {
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    right: -70px;
  }

  .btn-branding {
    white-space: nowrap;
    position: relative;
    right: -20px;
  }

  .header {
    padding-left: 150px;
  }

  .text-center,
  .homepage-main {
    position: relative;
    right: -20px;
  }

  footer .contact-box {
    padding: 30px;
  }

  .btn {
    margin-right: 15px;
  }

  footer .contact-box p {
    font-size: 14px;
  }
}

@media (width: 768px) {
  .header h1 {
    text-align: center;
  }

  .header h2 {
    text-align: center;
  }

  .header p {
    text-align: center;
  }

  .btn-branding {
    text-align: center;
  }

  .header {
    margin: 0;
    padding-right: 60px;
    padding: 108px 500px 176px 300px;
  }
}

@media (width: 1366px) {
  body {
    margin-bottom: 200px;
  }
  .header h1 {
    white-space: nowrap;
    text-align: center;
    position: relative;
    right: 60px;
  }

  .homepage-weather {
    position: relative;
    right: 90px;
  }
}

@media (width: 1024px) {
  body {
    margin-bottom: 600px;
  }

  h3 {
    padding-top: 40px;
  }

  .header h1 {
    white-space: nowrap;
    text-align: center;
    position: relative;
    right: 190px;
  }

  .header h2 {
    white-space: nowrap;
  }

  .img-fluid {
    position: relative;
    bottom: -120px;
  }

  .homepage-weather {
    position: relative;
    top: -60px;
  }

  .homepage-AI {
    position: relative;
    top: -180px;
  }
}
